{% extends "base.html" %}
{% block start %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    .ok {
        color: white;
        text-decoration: none;
    }
    .ok:hover {
        color: white;
        text-decoration: none;
    }
</style>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Recipe Form</div>

                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="day">Day-Time</label>
                            <input type="text" name="day" id="day" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="name">Recipe Name</label>
                            <input type="text" name="name" id="name" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="image">Upload Image</label>
                            <input type="file" name="image" id="image" class="form-control-file">
                        </div>

                        <button type="submit" class="btn btn-primary">Add Recipe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <form action="">
		<button > <a href="{% url 'pdf' %}">Generate Plan </a></button>
		</form>

    <hr>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <h3>Recipe List</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Pic</th>
                        <th scope="col">Day-Time</th>
                        <th scope="col">Recipe Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in recipes %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        {% if recipe.pic %}
                        <td><img src="{{ recipe.pic.url }}" alt="Recipe Image"></td>
                        {% else %}
                        <td>No Image</td>
                        {% endif %}
                        <td>{{ recipe.day }}</td>
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.description }}</td>
                        <td>
                            <a href="/delete_recipe/{{ recipe.id }}"><i class="fas fa-trash-alt"></i></a>
                            <a href="/update_recipe/{{ recipe.id }}"><i class="fas fa-edit"></i></a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
